<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles_common.css">
</head>

<body id="main_body" style="margin: 0; font-family: Comic Sans MS">

<div class="header" id="dv_main_header">
    <a href="index.html" class="logo">Заказ билетов на концерт</a>
    <div class="header-right">
        <a class="link" href="index.html">Концерты</a>
        <a class="link" href="posts_list.html">Все посты</a>
        <a class="link" href="#">Добавить пост</a>
        <a class="link" href="#">Выход</a>
        <a class="text_user_name">user_name</a>
    </div>
</div>

<div class="div_content" id="dv_main_content">

    <div class="left_content"></div>

    <div class="right_content">

        <div class="right_content_head">
            <h1>Добавить пост</h1>
            <hr>
        </div>

        <div style="margin-top: 32px; margin-left: 32px; margin-right: 48px">

            <b style="font-size: 20px">Текст поста:</b>
            <br><br>
            <textarea style="width: 100%; height: 100px"></textarea>
            <br><br><br>

            <b style="font-size: 20px">Хештеги:</b>
            <br><br>
            <div style="width: 100%">
                <div class="hashtags_choose_left" style="width: 30%; float: left; background: #ccc4e5">
                    <p>gdfgfdf</p>
                    <p>gdfgfdf</p>
                    <p>gdfgfdf</p>
                </div>
                <div class="hashtags_new_right" style="width: 50%; float: left; background: #7E7D81">
                    <p>gdfgfdf</p>
                    <p>gdfgfdf</p>
                    <p>gdfgfdf</p>
                    <p>gdfgfdf</p>
                    <p>gdfgfdf</p>
                    <p>gdfgfdf</p>
                    <p>gdfgfdf</p>
                </div>
            </div>

            <form>
                <button class="button">Добавить</button>
            </form>

        </div>


    </div>

</div>

<footer id="dv_main_footer">
    <hr>
    <pre style="font-family: Comic Sans MS; font-size: 16px; color: #7E7D81; padding-left: 16px">11 вариант. Заказ билетов на концерт.  Свинтилова Анастасия, 2 курс, 8 группа    nestiv.01.12@gmail.com
08.03.2021, 23:55</pre>
</footer>


</body>

</html>