<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles_buy_ticket.css">
    <link rel="stylesheet" href="styles_common.css">
</head>

<body id="main_body" style="margin: 0; font-family: Comic Sans MS">

<div class="header" id="dv_main_header">
    <a href="index.html" class="logo">Заказ билетов на концерт</a>
    <div class="header-right">
        <a class="link" href="index.html">Концерты</a>
        <a class="link" href="posts_list.html">Все посты</a>
        <a class="link" href="#">Добавить пост</a>
        <a class="link" href="#">Выход</a>
        <a class="text_user_name">user_name</a>
    </div>
</div>

<div class="div_content" id="dv_main_content">

    <div class="left_content"></div>

    <div class="right_content">

        <div class="right_content_head">
            <h1>Купить билет</h1>
            <hr>
        </div>

        <div class="wrap_image">
            <img class="img_buy_poster" src="../drawable/music_nightwish.jpg"/>
        </div>

        <div class="right_of_img">
            <p><b style="font-size: 24px">Концерт Hightwish</b></p>
            <p style="font-size: 20px">Музыкальная группа</p>
            <p style="font-size: 20px">16 сентября 2021 года, 19.00</p>
            <p style="font-size: 20px">Falcon-club<b style="font-family: Comic Sans MS; font-size: 12px"> (г. Минск, пр-т Победителей, 20)</b></p>
            <p style="font-size: 20px">Осталось билетов: 132</p>
            <b style="font-size: 20px">93 рубля</b>
        </div>

        <div class="under_img_text">
            <form>
                <button class="button">Купить билет</button>
            </form>
        </div>


    </div>

</div>

<footer id="dv_main_footer">
    <hr>
    <pre style="font-family: Comic Sans MS; font-size: 16px; color: #7E7D81; padding-left: 16px">11 вариант. Заказ билетов на концерт.  Свинтилова Анастасия, 2 курс, 8 группа    nestiv.01.12@gmail.com
08.03.2021, 23:55</pre>
</footer>


</body>

</html>