<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles_common.css">
</head>

<body id="main_body" style="margin: 0; font-family: Comic Sans MS">

<div class="header" id="dv_main_header">
    <a href="index.html" class="logo">Заказ билетов на концерт</a>
    <div class="header-right">
        <a class="link" href="index.html">Концерты</a>
        <a class="link" href="posts_list.html">Все посты</a>
        <a class="link" href="add_edit_post.html">Добавить пост</a>
        <a class="link" href="#">Выход</a>
        <a class="text_user_name">user_name</a>
    </div>
</div>

<div class="div_content" id="dv_main_content">

    <div class="left_content"></div>

    <div class="right_content">

        <div class="right_content_head">
            <h1>Ошибка</h1>
            <hr>
        </div>

        <div style="margin-top: 32px; margin-left: 32px">
            <b style="font-size: 24px">Код ошибки: 404</b>
            <p style="font-size: 20px">Страница не найдена</p>
        </div>


    </div>

</div>

<footer id="dv_main_footer">
    <hr>
    <pre style="font-family: Comic Sans MS; font-size: 16px; color: #7E7D81; padding-left: 16px">11 вариант. Заказ билетов на концерт.  Свинтилова Анастасия, 2 курс, 8 группа    nestiv.01.12@gmail.com
08.03.2021, 23:55</pre>
</footer>


</body>

</html>