<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles_posts_list.css">
    <link rel="stylesheet" href="styles_common.css">
</head>

<body id="main_body" style="margin: 0; font-family: Comic Sans MS">

<div class="header" id="dv_main_header">
    <a href="index.html" class="logo">Заказ билетов на концерт</a>
    <div class="header-right">
        <a class="link" href="index.html">Концерты</a>
        <a class="link_active" href="posts_list.html">Все посты</a>
        <a class="link" href="#">Добавить пост</a>
        <a class="link" href="#">Выход</a>
        <a class="text_user_name">user_name</a>
    </div>
</div>

<div class="div_content" id="dv_main_content">

    <div class="left_content">

        <h2> Фильтр по хештегам</h2>
        <div class="genres_list">
            <br>
            <p style="font-size: 20px">Добавленные хештеги:</p>
            <p style="font-size: 16px; padding-left: 12px">Все хештеги</p>
            <br>

            <p style="font-size: 20px">Список хештегов:</p>
            <div class="hashtags_list_to_choose">
                <ul>
                    <li><input type="checkbox">#music</li>
                    <li><input type="checkbox">#humor</li>
                    <li><input type="checkbox">#concert</li>
                    <li><input type="checkbox">#nightwith</li>
                    <li><input type="checkbox">#review</li>
                    <li><input type="checkbox">#rock_music</li>
                    <li><input type="checkbox">#pharaon</li>
                    <li><input type="checkbox">#skriptonit</li>
                    <li><input type="checkbox">#splinknote</li>
                </ul>
            </div>

        </div>

        <form>
            <button class="button" style="margin-top: 32px">Применить</button>
        </form>

    </div>

    <div class="right_content">

        <div class="right_content_head">
            <h1>Все посты</h1>
            <div>
                <p style="text-align: end; padding-right: 32px; padding-top: 0px">Сортировать: <input type="checkbox">
                    Автор <input type="checkbox"> Время </p>
            </div>
            <hr>
        </div>

        <div id="concerts_list" style="padding-left: 32px">

            <div class="one_item">
                <b style="font-size: 20px">user_name</b>
                <div style="float: right; margin-right: 0px">
                    <img class="like" src="../drawable/like_not_active.png">
                </div>
                <br>
                <p style="float: right; padding-right: 0px">21.02.2020</p>
                <br>
                <br>
                <p>Some text blablabla Some text blablabla Some text blablabla Some text blablabla Some text blablabla
                    Some text blablabla Some text blablabla Some text blablabla Some text blablablaSome text
                    blablablaSome text blablablaSome text blablablaSome text blablablaSome text blablablaSome text
                    blablablaSome text blablabla </p>
                <p>Some text blablabla Some text blablabla Some text blablabla Some text blablabla Some text blablabla
                    blablablaSome text blablabla Some text blablabla Some text blablabla Some text blablablaSome text
                    blablablaSome text blablablaSome text blablabla</p>
                <p class="hashtags_in_post">#pharaon #music</p>


            </div>
            <div class="one_item">
                <b style="font-size: 20px">user_name</b>
                <div style="float: right; margin-right: 0px">
                    <img class="like" src="../drawable/like_active.png">
                </div>
                <br>
                <p style="float: right; padding-right: 0px">21.02.2020</p>
                <br>
                <br>
                <p>Some text blablabla Some text blablabla Some text blablabla Some text blablabla Some text blablabla
                    Some text blablabla Some text blablabla Some text blablabla Some text blablablaSome text
                    blablablaSome text blablablaSome text blablablaSome text blablablaSome text blablablaSome text
                    blablablaSome text blablabla </p>
                <p>Some text blablabla Some text blablabla Some text blablabla Some text blablabla Some text blablabla
                    blablablaSome text blablabla Some text blablabla Some text blablabla Some text blablablaSome text
                    blablablaSome text blablablaSome text blablabla</p>
                <p class="hashtags_in_post">#pharaon #music</p>


            </div>
            <div class="one_item">
                <b style="font-size: 20px">user_name</b>
                <div style="float: right; margin-right: 0px">
                    <img class="like" src="../drawable/like_active.png">
                </div>
                <br>
                <p style="float: right; padding-right: 0px">21.02.2020</p>
                <br>
                <br>
                <p>Some text blablabla Some text blablabla Some text blablabla Some text blablabla Some text blablabla
                    Some text blablabla Some text blablabla Some text blablabla Some text blablablaSome text
                </p>
                <p>Some text blablabla Some text blablabla Some text blablabla Some text blablabla Some text blablabla
                </p>
                <p class="hashtags_in_post">#pharaon #music</p>
            </div>
            <div class="one_item">
                <b style="font-size: 20px">user_name</b>
                <div style="float: right; margin-right: 0px">
                    <img class="like" src="../drawable/like_not_active.png">
                </div>
                <br>
                <p style="float: right; padding-right: 0px">21.02.2020</p>
                <br>
                <br>
                <<p>Some text blablabla Some text blablabla Some text blablabla Some text blablabla Some text blablabla
                Some text blablabla Some text blablabla Some text blablabla Some text blablablaSome text
            </p>
                <p>Some text blablabla Some text blablabla Some text blablabla Some text blablabla Some text blablabla
                </p>
                <p class="hashtags_in_post">#pharaon #music</p>
            </div>
            <div class="one_item">
                <b style="font-size: 20px">user_name</b>
                <div style="float: right; margin-right: 0px">
                    <img class="like" src="../drawable/like_not_active.png">
                </div>
                <br>
                <p style="float: right; padding-right: 0px">21.02.2020</p>
                <br>
                <br>
                <p>Some text blablabla Some text blablabla Some text blablabla Some text blablabla Some text blablabla
                    Some text blablabla Some text blablabla Some text blablabla Some text blablablaSome text
                </p>
                <p>Some text blablabla Some text blablabla Some text blablabla Some text blablabla Some text blablabla
                </p>
                <p class="hashtags_in_post">#pharaon #music</p>
            </div>
            <div class="one_item">
                <b style="font-size: 20px">user_name</b>
                <div style="float: right; margin-right: 0px">
                    <img class="like" src="../drawable/like_active.png">
                </div>
                <br>
                <p style="float: right; padding-right: 0px">21.02.2020</p>
                <br>
                <br>
                <p>Some text blablabla Some text blablabla Some text blablabla Some text blablabla Some text blablabla
                    Some text blablabla Some text blablabla Some text blablabla Some text blablablaSome text
                </p>
                <p>Some text blablabla Some text blablabla Some text blablabla Some text blablabla Some text blablabla
                </p>
                <p class="hashtags_in_post">#pharaon #music</p>
            </div>
            <div class="one_item">
                <b style="font-size: 20px">user_name</b>
                <div style="float: right; margin-right: 0px">
                    <img class="like" src="../drawable/like_not_active.png">
                </div>
                <br>
                <p style="float: right; padding-right: 0px">21.02.2020</p>
                <br>
                <br>
                <p>Some text blablabla Some text blablabla Some text blablabla Some text blablabla Some text blablabla
                    Some text blablabla Some text blablabla Some text blablabla Some text blablablaSome text
                </p>
                <p>Some text blablabla Some text blablabla Some text blablabla Some text blablabla Some text blablabla
                </p>
                <p class="hashtags_in_post">#pharaon #music</p>
            </div>
            <div class="one_item">
                <b style="font-size: 20px">user_name</b>
                <div style="float: right; margin-right: 0px">
                    <img class="like" src="../drawable/like_active.png">
                </div>
                <br>
                <p style="float: right; padding-right: 0px">21.02.2020</p>
                <br>
                <br>
                <p>Some text blablabla Some text blablabla Some text blablabla Some text blablabla Some text blablabla
                    Some text blablabla Some text blablabla Some text blablabla Some text blablablaSome text
                    blablablaSome text blablablaSome text blablablaSome text blablablaSome text blablablaSome text
                    blablablaSome text blablabla </p>
                <p>Some text blablabla Some text blablabla Some text blablabla Some text blablabla Some text blablabla
                    blablablaSome text blablabla Some text blablabla Some text blablabla Some text blablablaSome text
                    blablablaSome text blablablaSome text blablabla</p>
                <p class="hashtags_in_post">#pharaon #music</p>


            </div>
            <div class="one_item">
                <b style="font-size: 20px">user_name</b>
                <div style="float: right; margin-right: 0px">
                    <img class="like" src="../drawable/like_not_active.png">
                </div>
                <br>
                <p style="float: right; padding-right: 0px">21.02.2020</p>
                <br>
                <br>
                <p>Some text blablabla Some text blablabla Some text blablabla Some text blablabla Some text blablabla
                    Some text blablabla Some text blablabla Some text blablabla Some text blablablaSome text
                </p>
                <p>Some text blablabla Some text blablabla Some text blablabla Some text blablabla Some text blablabla
                </p>
                <p class="hashtags_in_post">#pharaon #music</p>
            </div>
            <div class="one_item">
                <b style="font-size: 20px">user_name</b>
                <div style="float: right; margin-right: 0px">
                    <img class="like" src="../drawable/like_active.png">
                </div>
                <br>
                <p style="float: right; padding-right: 0px">21.02.2020</p>
                <br>
                <br>
                <p>Some text blablabla Some text blablabla Some text blablabla Some text blablabla Some text blablabla
                    Some text blablabla Some text blablabla Some text blablabla Some text blablablaSome text
                    blablablaSome text blablablaSome text blablablaSome text blablablaSome text blablablaSome text
                    blablablaSome text blablabla </p>
                <p>Some text blablabla Some text blablabla Some text blablabla Some text blablabla Some text blablabla
                    blablablaSome text blablabla Some text blablabla Some text blablabla Some text blablablaSome text
                    blablablaSome text blablablaSome text blablabla</p>
                <p class="hashtags_in_post">#pharaon #music</p>


            </div>

        </div>

        <form>
            <button class="button" style="margin-top: 32px; margin-left: 64px">Загрузить еще</button>
        </form>

    </div>

</div>

<footer id="dv_main_footer">
    <hr>
    <pre style="font-family: Comic Sans MS; font-size: 16px; color: #7E7D81; padding-left: 16px">11 вариант. Заказ билетов на концерт.  Свинтилова Анастасия, 2 курс, 8 группа    nestiv.01.12@gmail.com
08.03.2021, 23:55</pre>
</footer>


</body>

</html>